.b-bottom-right {
    border-right: 15px solid  #b700ff;
    border-bottom: 15px solid  #00ff14;
}

.b-bottom {
    border-bottom: 15px solid  #00ff14;
}

.b-right {
    border-right: 15px solid  #b700ff;
}

.square {
    min-width: 100px;
    min-height: 100px;
    font-size: 64px;
    text-align: center;
    color:  #00eeff;
    font-weight: bolder;
    margin: 0;
}