.score-board
{
    border: solid;
    padding: 13px;
    border-radius: 14px;
    width: 335px;
    height: 241px;
    margin-top: 34px;
    box-shadow: 0px 0px 32px #ffffffa8;

}

/* Hide scrollbar for Chrome, Safari and Opera */
.app-header::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.app-header {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.X-score-red
{
    box-shadow: 0px 16px 17px red;

}
.X-score-green
{
    box-shadow: 0px 16px 17px green;

}
.Y-score-green
{
    box-shadow: 0px 16px 17px green;

}
.Y-score-red
{
    box-shadow: 0px 16px 17px red;

}

.line-VM
{
    width: 370px;
    position: relative;
    transform: rotate(90deg);
    top: 174px;
    display: block !important;
}
.line-VR
{
    width: 370px;
    position: relative;
    transform: rotate(90deg);
    top: 174px;
    right: -115px;
    display: block !important;
}
.line-VL
{
    width: 370px;
    position: relative;
    transform: rotate(90deg);
    top: 174px;
    right: 115px;
    display: block !important;
}
.line-HM
{
    width: 370px;
    position: relative;
    transform: rotate(0deg);
    top: 172px;
    right: 6px;
    display: block !important;
    transition: transform 3s;
}
.line-HT
{
    width: 370px;
    position: relative;
    transform: rotate(0deg);
    top: 57px;
    right: 6px;
    display: block !important;
}
.line-HB
{
    width: 370px;
    position: relative;
    transform: rotate(0deg);
    top: 287px;
    right: 6px;
    display: block !important;
}
.line-C1
{
    width: 370px;
    position: relative;
    transform: rotate(45deg);
    top: 174px;
    right: -2px;
    display: block !important;
}
.line-C2
{
    width: 370px;
    position: relative;
    transform: rotate(-48deg);
    top: 184px;
    right: 10px;
    display: block !important;
}

.line
{
    display: none;
}

.actual-line
{
    width: 370px;
    height: 2px;
    background: #e5e5e5;
    animation: line .5s ;
}

@keyframes line {
    from {width: 30px;}
    to {width: 370px;}
  }


  /* //footerthings
   */
   
.App-link {
    color: #61dafb;
  }
  
  .Footer
  {
    /* height: 10vh; */
    /* position: absolute;
    bottom: 0; */
    width: 100vw;
    padding: 20px;
  }

  .icons a{
    padding: 0 8px;
  }

  @media screen and (max-width:780px ){
    .lottie-1
    {
        top: 353px;
    }
    .lottie-2
    {
        top: 478px;
    }
  }